* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #eee;
    margin: 0;
    padding: 0;
    font-weight: Century Gothic;
    background: url(aaa.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.container{
    height:90vh;
    width: 30%;
    background: rgba(0,0,0,.6);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 20px;
    border-radius: 40px;
    transition: 2s;
}
.img{
    height: 70px;
    width: 70px;
    background: url("bahay kubo.jpg")no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container h1{

    color: white;
    margin-top: 50px;
}
.icon {
	position: center;
	top: 40%;
	left: 30%;
}
.icon a {
	display: inline-block;
	width: 90px;
	height: 90px;
	background-color: #eee;
	border-radius: 25px;
	margin: 20px;
	box-shadow: 3px 3px 10px #aeaeae,
	-4px -4px 10px white;
	text-align: auto;
	line-height: 80px;
	font-size: 90px;
	border:3px solid #eee;
	color: #333;
	transition: .3s;
}

.icon p{
    color: white;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}
.icon a:hover {
	animation: border .6s alternate infinite linear;
	background-color: #333;
	color: #eee;
}

@keyframes border {
	0% {
		border:3px solid lightgreen;
	}
	50% {
		border:3px solid salmon;
	}
	100% {
		border:3px solid skyblue;
	}
}
.btn{
    background:no-repeat;
    outline: none;
    border: 1px solid white;
    color: white;
    width: 50%;
    padding: 7px 15px;
    font-size: large;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 50px;
}
.btn:hover{
    background: white;
    color: black;
}
